.cabecalho__menu-hamburguer {
  width: 24px;
  height: 24px;
  background-image: url(../img/Menu.svg);
  background-repeat: no-repeat;
  background-position: center;
  display: inline-block;
}

.cabecalho {
  background-color: var(--cor-de-fundo-2);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.container {
  display: flex;
  align-items: center;
}

.container__imagem {
  padding: 1em;
}

.lista-menu {
  display: none;
  position: absolute;
  top: 100%;
  width: 60vw;
}

.container__botao:checked ~ .lista-menu {
  display: block;
}

.lista-menu__titulo,
.lista-menu__item {
  padding: 1em;
  background-color: var(--cor-de-fundo-2);
}

.lista-menu__titulo {
  color: var(--titulo-2);
  font-weight: 700;
}

.lista-menu__link {
  background: var(--titulo-3);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-transform: uppercase;
}

.container__botao,
.container__titulo,
.opcoes,
.container__texto {
  display: none;
}

.container__botao:checked ~ .container__label > .cabecalho__menu-hamburguer {
  background-image: url(../img/Menu-aberto.svg);
}

.container__botao:checked ~ .container__label {
  background: var(--cor-de-fundo-3);
}

@media screen and (min-width: 1024px) {
  .container__titulo,
  .container__titulo--negrito {
    font-family: var(--fonte-secundaria);
    font-size: 30px;
  }

  .container__titulo {
    font-weight: 400;
    display: block;
  }

  .container__titulo--negrito {
    font-weight: 700;
  }

  .opcoes {
    display: flex;
  }

  .opcoes__item {
    padding: 0 1em;
    text-transform: uppercase;
  }

  .opcoes__link {
    color: var(--texto-1);
  }

  .container__imagem-transparente {
    display: none;
  }

  .cabecalho__menu-hamburguer {
    display: none;
  }

  .opcoes__botao:checked ~ .lista-menu {
    display: block;
    width: auto;
  }

  .opcoes__botao {
    display: none;
  }

  .opcoes__botao:checked ~ .opcoes__label > .opcoes__item {
    background: var(--cor-de-fundo-3);
    color: var(--titulo-1);
  }

  .opcoes__item {
    padding: 2.2em 1em;
  }

  .lista-menu__item:hover {
    background: var(--cor-de-fundo-3);
  }

  .lista-menu__item:hover > .lista-menu__link {
    -webkit-text-fill-color: var(--titulo-1);
  }
}

@media screen and (min-width: 1728px) {
  .container__link {
    display: flex;
    align-items: center;
    color: var(--texto-1);
  }

  .cabecalho {
    padding: 0 2em;
  }

  .opcoes {
    margin-right: auto;
  }

  .container__texto {
    display: block;
  }
}
