hr {
  margin: 0;
}

.rodape {
  background-color: var(--cor-de-fundo-2);
  padding: 1em;
}

.lista-rodape {
  display: none;
}

@media screen and (min-width: 1024px) {
  .lista-rodape {
    display: block;
  }

  .rodape {
    display: flex;
    justify-content: space-around;
  }

  .lista-rodape__titulo {
    color: var(--rodape-texto);
    font-size: 14px;
  }

  .lista-rodape__item {
    display: flex;
    align-items: center;
    margin: 0.6em 0;
  }

  .lista-rodape__link {
    color: var(--link);
    margin-left: 0.6em;
    font-size: 14px;
  }

  .rodape__titulo {
    font-size: 24px;
  }

  .lista-rodape__link:hover {
    color: var(--titulo-2);
    }
}

@media screen and (min-width: 1728px) {
  .lista-rodape {
    border-left: 1px solid var(--link);
    padding-left: 1em;
  }

  .rodape {
    padding: 3em 0;
  }
}